.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.products-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-inline: auto;
}

.order-summery{
    
    background-color: #eafdfd;

}
.btn-review-items{
    background-color: #FF9900;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    width: 80%;
    height: 40px;
    margin-top: 10px;
}
@media screen and (max-width:992px) {
    .shop-container{
        grid-template-columns: 3fr 1fr;
    }
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media screen and (max-width: 768px) {
    .shop-container{
        grid-template-columns: 2fr 1fr;
    }
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
}